@import "tailwindcss";

#root {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  /* min-height: 100vh; */
  /* background-color: rgb(34, 10, 94); */
  /* position: absolute; */
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Avoid horizontal scrollbar if the starfield is wide */
  font-family: 'Lexend Deca', sans-serif;
}

body {
  min-height: 200vh;
} 

canvas {
  pointer-events: none;
  z-index: -50;
}

h2 {
  font-size:x-large;
}

.navbar {
  position:sticky;
  
}

.card{
  position: relative;
  width: 100%;
  height: 100%;
}

.card-expanded{
  width: 100%;
  height: auto; 
  z-index: 2;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after, .card::before{
  content: '';
  position: absolute;
  background: blue;
  height: calc(100% + 30px);
  width: calc(100% + 30px);
  background-image: conic-gradient(from var(--angle), rgb(162, 0, 255), rgb(2, 196, 255), rgb(162, 0, 255));
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  /* padding: 60px; */
  border-radius: 20px;
  animation: 3s moving linear infinite;

  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card::before{
  filter: blur(1.5rem);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover::after, .card:hover::before{
  opacity: 1;
}

@keyframes moving{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}